<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General User</title>
    <link rel="icon" href="/assets/images/signup.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/venobox.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/themeTable/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/themeTable/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/themeTable/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/themeTable/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/themeTable/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/themeTable/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/themeTable/css/main.css">
</head>
<body>
<!------------header part start--------------->

<section class=" head">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="70px" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/event_manager">Create an Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/event_manager/eventpost">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ranking</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<!------------header part End--------------->
<!------------Form part start------------->

<br><br><br>
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Event Name </th>
								<th class="column2">Event Date</th>
								<th class="column3">Event Post</th>
								<th class="column4">Event Location</th>
								<th class="column4"><center>Vote</center></th>
		
							</tr>
						</thead>
						<tbody>
                            <% for(var i=0; i < eventList.length; i++) { %>
								<tr>
									<td class="column1"><%= eventList[i].eventname %></td>
									<td class="column2"><%= eventList[i].eventdate %></td>
									<td class="column3"><%= eventList[i].eventpost %></td>
									<td class="column4"><%= eventList[i].location %></td>
									<td class="column5"><center><%= eventList[i].vote %></center></td>
                                </tr>	
                             <% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<!------------Form part End---------------->

<!-- validation-->

<!------------Footer part End------------------------->

    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/venobox.min.js"></script>
    <script src="/assets/js/isotope.pkgd.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    
    <script src="/assets/themeTable/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/themeTable/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/themeTable/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/themeTable/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/themeTable/js/main.js"></script>
</body>
</html>
